#form-produto{
  background-color: #fff;
  width: 1000px;
  height: 700px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#button-create-form{
  text-align: center;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.form-row{
  align-items: center;
}

.add{
  margin-bottom: 100px;
  align-items: center;
  color: #fff;
}
