h2 {
font-size: 64px;
font-family: 'Montserrat';
text-align: center;
color: #ffffff;;
}

div {
  font-size: 16px;
  font-family: 'Montserrat';
  color: #1B902C;
  }

.login_color label{
    color: #fff;
  }

.card-product-infos {
  color: #000000;
}


.container {
  width: 400px;
}

.form-actions {
  text-align: center;
}
