h2 {
font-size: 64px;
font-family: 'Montserrat';
text-align: center;
color: #ffffff;
}

div {
  font-size: 16px;
  font-family: 'Montserrat';
  color: #ffffff;
  }

.container {
  width: 400px;
}

.form-actions {
  text-align: center;
}
