.trekking-card-img{
  height: 230px;
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;

  width: 16rem;
}


.container-new-order{
display: flex;
justify-content: space-evenly;
padding: 20px;
}

.card-trip-infos h2{
text-align: left;
}
