<h2>Your Orders:</h2>

<div class="container_card">
  <% @orders.each do |order| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <ul class="card_orders">
          <li><%= order.user.name %>
          <%= order.trekking.name %>
          <%= order.address %></li>
      </ul>
  </div>
</div>
<% end %>
