<%= render 'shared/banner' %>


<% @trekkings.each do |t| %>
  <div class="d-inline-flex justify-content-around">
    <div class="card" style="width: 18rem;">
      <img src=<%= t.url_image %> class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= t.name %></h5>
        <p class="card-text"><%= t.price %></p>
        <a href="#" class="btn btn-outline-success">Show the product</a>
      </div>
    </div>
  </div>
<% end %>
>>>>>>> d0e8a955b645d5b54417e7ee9e6e39e3b69140ca
