            <form id="form-produto">
              <div class="form-row p-3">
                   <div class="form-group col-md-12">
                        <label>Foto do produto</label><br>
                        <input id="fotoProduto" type="file" accept="image/*" capture>
                    </div>
                </div>
                <div class="form-row p-3">
                    <div class="form-group col-md-12">
                        <label for="cadastroProduto">Nome do produto</label>
                        <input type="text" class="form-control" id="nomeProduto">
                    </div>
                </div>
                <div class="form-row p-3">
                    <div class=" form-group col-md-6">
                        <label>Valor de venda</label>
                        <input type="number" class="form-control" id="valorVenda" placeholder="R$">
                    </div>
                </div>

                </div>
                <div class="form-row p-3">
                    <div class="form-group col-md-12">
                        <label>Descrição</label><br>
                        <textarea id="descricaoProduto" class="form-control"></textarea>
                    </div>
                </div>
            </form>
