.card {
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(168, 168, 168);
  border-radius: 8px;
  margin: 10px 30px;
  width: 16rem;
  &:hover{
    width: 18rem;
    transition-delay: 0.2s;
  }
}

.card img {
  border-radius: 9px;
}

.trekking-card-image {
  height: 230px;
}
