.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

// .navbar {
//   background-color: #ffffff; /* Black background color */
//   position: fixed; /* Make it stick/fixed */
//   top: 0; /* Hide the navbar 50 px outside of the top view */
//   width: 100%; /* Full width */
//   transition: top 0.3s; /* Transition effect when sliding down (and up) */
// }

#navbar {
  background-color: #ffffff; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}